h2{
  color:green;
  font-style: italic;
}

.person{
  color: gray;
  font-style:oblique;
}

.notification-bar{
  height: 40px;
  width: auto;
  background-color: lightgray;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  border: 2px;
  border-style: solid;
  border-color: darkgreen;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: darkgreen ;
}

.error-msg{
  height: 40px;
  width: auto;
  background-color: lightgray;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  border: 2px;
  border-style: solid;
  border-color: red;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: red ;
}